<form>
	<table>
		<tr><td>Company Name</td><td><select type="text" name="addressCompanyName" /></td></tr>
		<tr><td colspan="2"><hr/></td></tr>
		<tr><td>AddressDetail</td><td><input type="text" name="googleAddressDetail" ></input></td></tr>
		<tr><td>AddressArea</td><td><input type="text" name="googleAddressArea" disabled="true"></input></td></tr>
		<tr><td>AddressCity</td><td><input type="text" name="googleAddressCity" disabled="true"></input></td></tr>
		<tr><td>AddressCountry</td><td><input type="text" name="googleAddressCountry" disabled="true"></input></td></tr>

		<tr><td>Latitude</td><td><input type="text" name="googleAddressLatitude" disabled="true"></input></td></tr>
		<tr><td>Longitude</td><td><input type="text" name="googleAddressLongitude" disabled="true"></input></td></tr>
	
		

		<tr><td colspan="2"><hr/></td></tr>

	</table>
</form>

<button id="buttonAddressCompanyUpdate" >Update</button>


<script type="text/javascript">

	$.each(ats.ListCompany, function(index,object){
		$('[name="addressCompanyName"]').append("<option value='"+ object.Id +"'>"+ object.Name +"</option>");
	}); 

	$('[name=googleAddressDetail]').click(function(){
		dialogGoogleSearchAddress();
	});


	$('[name="addressCompanyName"] option[value="'+ addressCompany.Company +'"]').attr('selected','selected');
	$('[name="googleAddressArea"').val(addressCompany.Area);
	$('[name="googleAddressCity"').val(addressCompany.City);
	$('[name="googleAddressCountry"').val(addressCompany.Country);

	$('[name="googleAddressDetail"').val(addressCompany.Detail);
	$('[name="googleAddressLatitude"').val(addressCompany.Latitude);
	$('[name="googleAddressLongitude"').val(addressCompany.Longitude);


	$('#buttonAddressCompanyUpdate').button().click(function() {
		var addressId = addressCompany.Id;
		var companyId = $('[name="addressCompanyName"').val();
		
		var addressArea = $('[name="googleAddressArea"').val();
		var addressCity = $('[name="googleAddressCity"').val();
		var addressCountry = $('[name="googleAddressCountry"').val();

		var addressDetail = $('[name="googleAddressDetail"').val();
		var addressLatitude = $('[name="googleAddressLatitude"').val();
		var addressLongitude = $('[name="googleAddressLongitude"').val();


		
		validate = new Validate();

		if(
			validate.IsEmpty(companyId) || 
			validate.IsEmpty(addressDetail)
			) {
			notifyError("Some field(s) is/are empty.");
			return;
		}

		
		$.post('application/model/service/address_company_update.php',{
			AddressId:addressId,
			AddressCompany:companyId,
			AddressDetail:addressDetail,
			AddressArea:addressArea,
			AddressCity:addressCity,
			AddressCountry:addressCountry,
			AddressLatitude:addressLatitude,
			AddressLongitude:addressLongitude,

		}, function(json){
			var result = json.result[0];
			if (result.Status == "SUCCESS") {
				notify(result.Message);
			} else {
				notifyError(result.Message);
			}
		}, 'json');
	});


</script>

<style type="text/css">
	form {
		font-size: 0.8em;
	}
	form table{
		width: 100%;
	}
	form input{
		width: 100%;
	}
	form select {
		width: 100%;
	}
	form div {
		width: 100%;
	}

	#buttonCompanyAdd{
		width: 100%;
	}
</style>
