<div id="map"></div>
<!-- <script src="http://maps.googleapis.com/maps/api/js"></script> -->
<script type="text/javascript">
	var map;

	var latitude = '25.3000';
	var longitude = '51.5167';
	var coordinate = new google.maps.LatLng(latitude, longitude);

	var marker = new google.maps.Marker({
		map: map,
		draggable:true
	});


	function initialize() {
		var mapProp = {
			center: coordinate,
			zoom: 10,
			mapTypeId: google.maps.MapTypeId.ROADMAP
		};
		map = new google.maps.Map(document.getElementById("map"), mapProp);
		

		google.maps.event.addListener(map, 'click', function(event) {

			var parameter = event.latLng.lat() + "," + event.latLng.lng();
			$.get("https://maps.googleapis.com/maps/api/geocode/json",{latlng:parameter}, function(json) {
				
				console.log(json);

				var detail, country, city, area;
				for(var index = 0; index < json.results[0].address_components.length; index++) {
					for (var index1 = 0; index1 < json.results[0].address_components[index].types.length; index1++) {

						switch(json.results[0].address_components[index].types[index1]) {
							case 'country':
							country = json.results[0].address_components[index].long_name;
							break;
							case 'administrative_area_level_1':
							city = json.results[0].address_components[index].short_name;
							break;
							case 'administrative_area_level_2':
							area = json.results[0].address_components[index].short_name;

							case 'sublocality_level_1':
							area = json.results[0].address_components[index].short_name;

							case 'locality':
							area = json.results[0].address_components[index].short_name;
							break;
						}
					}
				}

				var detail = (json.results[0].formatted_address);

				$('[name="googleAddressDetail"]').val(detail);
				$('[name="googleAddressArea"]').val(area);
				$('[name="googleAddressCity"]').val(city);
				$('[name="googleAddressCountry"]').val(country);

				$('[name="googleAddressLatitude"]').val(event.latLng.lat());
				$('[name="googleAddressLongitude"]').val( event.latLng.lng());
			},'json');


var location = new google.maps.LatLng(event.latLng.lat(), event.latLng.lng());
marker.setPosition(location);
marker.setMap(null);
marker.setMap(map);
});
}

	//google.maps.event.addDomListener(window, 'load', initialize);
	initialize();
</script>

<style type="text/css">
	#map {
		position: absolute;
		height: 96%;
		width: 96%;
	}
</style>