<form>
	<table>
		<tr><td>New Password</td><td><input type="password" name="userPassword1"/></td></tr>
		<tr><td>Retype Password</td><td><input type="password" name="userPassword2"></td></tr>
		<tr><td colspan="2"><center><div id="passwordResult" /></center></td></tr>
		<tr><td colspan="2"><hr/></td></tr>

	</table>
</form>

<button id="buttonUserPasswordUpdate">Update</button>

<script type="text/javascript">

	function validatePassword() {
		var password1 = $('[name="userPassword1"').val();
		var password2 = $('[name="userPassword2"').val();

		if ((password1.length < 6) || (password2.length < 6)){
			$('#passwordResult').text("Password must be 6 characters.");
			return 1;
		}

		if (password1 == password2) {
			$('#passwordResult').text("");
		} else {
			$('#passwordResult').text("Password does not match.");
			return 1;
		}
		return 0;
	}

	$('[name="userPassword1"').blur(function() {
		validatePassword();
	});
	$('[name="userPassword2"').blur(function() {
		validatePassword();
	});

	$('#buttonUserPasswordUpdate').button().click(function() {

		var password1 = $('[name="userPassword1"').val();
		var password2 = $('[name="userPassword2"').val();

		if (validatePassword()) {
			return;
		}

		$.post('application/model/service/user_update_password.php',{
			Id:user.Id,
			Password:password1
		}, function(json){
			var result = json.result[0];
			if (result.Status == "SUCCESS") {
				notify(result.Message);
			} else {
				notifyError(result.Message);
			}
		}, 'json');
	});
</script>